<div class="breadcrumb">
    <a routerLink="/lugares">Lugares</a> / Contacto
</div>
<div class="container">
    <h3>Escríbenos!</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="form-box">
<label>Nombre</label>
<input type="text" class="form-control"/>
<br/>
<label>Correo</label>
<input type="email" class="form-control" />
<br />
<label>Mensaje</label>
<textarea class="form-control"></textarea>
<hr />
<a class="btn btn-primary">Enviar </a>
<a class="btn btn-danger">Cancelar</a>
</div>
</div>
</div>
</div>