<br>
<br>
<div class="container center">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body bg-light">
            <label for="">Email</label>
            <input type="email" class="form-control" value="" [(ngModel)]="registro.email" />
            <hr />
            <label for="">Contraseña</label>
<input type="password" class="form-control" value="" [(ngModel)]="registro.password" />
            <hr />
    <a class="btn btn-primary btn-block" (click)="registrar()">Confirm</a>
    <a class="btn btn-danger btn-block">Cancel</a>
  </div>
  </div>
  </div>
