<br>
<br>
<div class="container center">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body bg-light">
            <label for="">Email</label>
            <input type="email" class="form-control" value="" [(ngModel)]="loginParams.email" />
            <hr />
            <label for="">Contraseña</label>
<input type="password" class="form-control" value="" [(ngModel)]="loginParams.password" />
            <hr />
    <a class="btn btn-warning btn-block" (click)="login()">Login</a>
    <a class="btn btn-info btn-block" (click)="facebookLogin()">Login con Facebook!</a>
    <a class="btn btn-danger btn-block">Cancel</a>
  </div>
  </div>
  </div>
